:root {
  --primary-color: #29335c;
  --light-primary: #3f4f8d;
  --lightest-color: #e9ebd5;
  --secundary-color: #774936;
  --light-secundary: #b97e64;
}

#modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}
.overlay {
    visibility: hidden;
    transition: all .3s ease;
    opacity: 0;
}
.open-overlay {
    visibility: visible;
    opacity: 1;
}

#modal-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--light-primary);
    z-index: 666;
    opacity: 0.4;
    z-index: 0;
}

#modal-conteiner {
    display: flex;
    flex-flow: column;
    z-index: 1;
    background-color: var(--lightest-color);
    padding: 1rem 2rem;
    border-radius: 10px;
}

#movie-title {
    padding: .2rem 0;
}

#modal-body {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

#movie-poster {
    margin-right: .5rem;
    border-radius: 10px;
}

#movie-info {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    max-width: 300px;
}

#add-to-list {
    border: 1px solid var(--primary-color);
    width: 100%;
    border-radius: 5px;
    padding: .3rem 0;
    font-weight: bold;
    transition: ease-in .1s;
    box-shadow: 1px 1px 10px #0000008c;
    text-align: center;
}

#add-to-list:focus, #add-to-list:hover {
    background-color: var(--primary-color);
    color: var(--lightest-color);
}