:root {
    --primary-color: #29335c;
    --light-primary: #9ac4f8;
    --lightest-color: #e9ebd5;
    --secundary-color: #774936;
    --light-secundary: #c08972;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 1rem;
    background-color: var(--primary-color);
    color: var(--lightest-color);
    font-family: sans-serif;
}

.search-conteiner {
    display: flex;
    align-items: center;
    width: 50%;
}

header > h2 > i {
    margin-right: .3rem;
}

.movie-name-wrapper {
    width: 65%;
}
.movie-year-wrapper {
    width: 30%;
}

search-button {
    width: 5%;
}